.profile {
  width: 100%;
  background-color: $bg-gray-dark;
  .tab-content-header {
    padding: 24px 24px 0 24px;
  }
  .tab-content-actions {
    position: relative;
    .profile-actions {
      position: absolute;
      top: calc(100% + 5px);
      right: 0;
      width: 160px;
      padding: 8px 0;
      background-color: #313a43;
      border: 1px solid #3e4851;
      border-radius: 4px;
      z-index: 1000;
      animation: floatToTop 0.3s;
    }
  }
}

.profile-top {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid $bg-dark;
  .avatar {
    position: relative;
    padding: 4px;
    margin-bottom: 24px;
    img {
      border-radius: 50%;
      width: 86px;
      height: 86px;
    }
    .edit-action {
      position: absolute;
      bottom: 5px;
      right: 0;
      width: 35.2px;
      height: 35.2px;
      border-radius: 50%;
      background-color: $bg-dark;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }
  .username {
    color: $lightGrey;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 600;
    margin-bottom: 4px;
  }
  .status {
    text-transform: capitalize;
    color: var(--gull-gray);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    align-items: center;
    font-size: 15px;
    margin-bottom: 4px;
    span {
      background-color: $active;
      width: 10px;
      height: 10px;
      margin-right: 8px;
    }
  }
}

.profile-bottom {
  padding: 24px;
  .text-warning {
    color: var(--gull-gray);
    font-weight: 400;
    font-size: 15px;
    line-height: 22.5px;
    margin-bottom: 24px;
  }
}

.info-field {
  &-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &:not(:first-child) {
      margin-top: 24px;
    }
  }
  &-title {
    color: var(--gull-gray);
    font-size: 15px;
    margin-bottom: 4px;
    width: 100%;
  }
  &-content {
    font-size: 14px;
    color: $lightGrey;
    margin-bottom: 8px;
    width: 100%;
    font-weight: 600;
  }
}

.file {
  &-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border: 1px solid $bg-dark;
  }
  &-details {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex: 1;
  }
  &-name {
    margin: 0;
    font-size: 14px;
    color: $lightGrey;
    font-weight: 600;
    margin-bottom: 4px;
  }
  &-size {
    font-size: 13px;
    color: var(--gull-gray);
  }
  &-icon {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: var(--blue-wood);
    margin-right: 10px;
    span {
      width: 18px;
      height: 18px;
      background-color: $mainColor;
    }
  }
  &-actions {
    display: flex;
    span {
      width: 18px;
      height: 18px;
      padding: 0 4px;
      &:first-child {
        margin-right: 8px;
      }
    }
  }
}
