.search {
  &-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 52px;
    background-color: $bg-dark;
    border-radius: 4px;
  }
  &-btn {
    height: 100%;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
    span {
      width: 18px;
      height: 18px;
    }
  }
  &-input {
    padding: 8px 16px;
    background-color: $bg-dark;
    border: none;
    color: var(--gull-gray);
    font-size: 14px;
    font-weight: 400;
    &::placeholder {
      color: var(--gull-gray);
    }
  }
}
