MONGO_URL="url"
PORT=3015
HOST="localhost"

ACCESS_SECRET_KEY="key"
REFRESH_SECRET_KEY="secret"

JWT_ACCESS_EXPIRE=12h
JWT_REFRESH_EXPIRE=28h

CLOUD_NAME="name"
CLOUD_API_KEY="apikey"
CLOUD_API_SECRET="apiSecret"
CLOUD_FOLDER_NAME="avatar"

MAIL_USER="user"
MAIL_PASSWORD="password"
