.main-panel {
  display: flex;
  flex-direction: row;
  height: 100vh;
  .children-wrapper {
    height: 100%;
    width: 100%;
  }
}

.side-bar {
  width: 100%;
  height: 100%;
  background-color: $bg-gray-dark;
  display: flex;
}

.tab-content {
  &-wrapper {
    max-width: 380px;
    min-width: 380px;
    height: 100%;
  }
  &-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 24px 24px 0 24px;
    background-color: $bg-gray-dark;
    margin-bottom: 24px;
    .title {
      margin: 0;
      color: $lightGrey;
      font-size: 22.5px;
      font-weight: 600;
    }
  }
  &-actions {
    span {
      width: 20px;
      height: 20px;
      background-color: var(--gull-gray);
      cursor: pointer;
    }
  }
}
