@import "./var";
@import "./icon";
@import "./layouts/index.scss";
@import "./views/index.scss";
@import "./components/index.scss";
@import "./views/chat/index.scss";
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@keyframes floatToTop {
  from {
    opacity: 0;
    top: calc(100% + 20px);
  }
  to {
    opacity: 1;
    top: calc(100% + 4px);
  }
}

body,
html {
  font-family: "Public Sans", sans-serif;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  font-size: 15px;
  background-color: var(--bg-body-dark);
}

button {
  cursor: pointer;
  font-family: "Public Sans", sans-serif;
  &:hover {
    opacity: 0.8;
  }
}

* {
  box-sizing: border-box;

  &:focus {
    outline: none;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.btn {
  padding: 12px 10px;
  margin: 4px;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

.main-btn {
  background-color: $mainColor;
  color: $white;
}

.cancel-btn {
  color: $mainColor;
}

.hover-effect {
  cursor: pointer;
  &:hover {
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
  }
}

.scroll-wrapper {
  overflow-x: hidden;
  overflow-y: auto;
  padding-right: 10px;
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    visibility: hidden;
  }
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--gull-gray);
    visibility: hidden;
  }
  &:hover,
  &:focus {
    &::-webkit-scrollbar-track {
      visibility: visible;
    }
    &::-webkit-scrollbar-thumb {
      visibility: visible;
    }
  }
}

.custom-input {
  &-label {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 8px;
    color: var(--rock-blue);
    display: block;
  }
  &-field {
    width: 100%;
    padding: 10px 16px;
    border-radius: 4px;
    outline: none;
    border: 1px solid $bg-dark;
    background-color: var(--clay-dark);
    color: var(--gull-gray);
    &::placeholder {
      font-size: 14px;
      font-weight: 400;
      color: var(--gull-gray);
    }
  }
  margin-bottom: 24px;
}
