$mainColor: #7269ef;
$bg-dark: #36404a;
$bg-gray-dark: #303841;
$lightGrey: #e1e9f1;
$red: #ef476f;
$white: #ffffff;
$active: #06d6a0;
$textColorDark: #eff2f7;
$textColorSmallDark: #656768;

:root {
  --gull-gray: #9aa1b9;
  --rock-blue: #a6b0cf;
  --limed-spruce: #3e4a56;
  --outer-space: #262e35;
  --blue-wood: #393c64;
  --fiord-blue: #41446d;
  --horn-red: #523b49;
  --electro-mag: #2e363f;
  --orchid: #2b333b;
  --casper-grey: #abb4d2;
  --warn-golden: #ffd166;
  --corn-flower-blue: #272c3b;
  --clay-dark: #2b303f;
  --bg-body-dark: #303841;
  --bg-card-dark: #262e35;
}
