$mainColor: #7269ef;
$bg-dark: #36404a;
$bg-gray-dark: #303841;
$lightGrey: #e1e9f1;
$red: #ef476f;
$white: #ffffff;
$active: #06d6a0;

:root {
  --gull-gray: #9aa1b9;
  --rock-blue: #a6b0cf;
  --limed-spruce: #3e4a56;
  --outer-space: #262e35;
  --blue-wood: #393c64;
}
